# Copy this file to `.env.local` for local runs (or set in Vercel project settings).
EXPO_PUBLIC_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzJjSh9fapiFv0z7cQVTbnP0AYN95l10IfoXccIiD2wlzzerYF2v2HsJI1r4CImd7Oy7A/exec
